---
layout: default
---
{% include banner.html %}

<!-- One -->
<section id="one" class="wrapper style5 special">
  <div class="inner">
    <header class="major">
      <h2>Hello, I'm Derek</h2>
      <p>I'm a creative and inquisitive software engineer with over 15 years of experience developing exceptional user interfaces and first-class products. I have a passion for front-end experiences but also enjoy the challenge of building large, scalable server-side solutions. I like helping organizations identify new opportunities and challenges; leading and mentoring agile teams as they work toward meeting those challenges is exciting.</p>
      <p>I'm an early adopter and a fast adapter.</p>
    </header>
    <!-- <ul class="icons major">
      <li><span class="icon fa-cogs major style1"><span class="label">Lorem</span></span></li>
      <li><span class="icon fa-desktop major style2"><span class="label">Ipsum</span></span></li>
      <li><span class="icon fa-terminal major style3"><span class="label">Dolor</span></span></li>
    </ul> -->
  </div>
</section>

<!-- Two -->
<!-- <section id="two" class="wrapper alt style2">
  <section class="spotlight">
    <div class="image"><img src="images/pic01.jpg" alt="Architecture" /></div><div class="content">
      <h2>Maintainable Application Architecture</h2>
      <p>
        Most software applications are more complex than user interfaces and databases. Large, maintainable applications should be designed with clear separation between the persistence layer, the views or user interfaces, and the application domain. My experience includes significant architectural work, designing both small and large software applications, all built on core foundational ideas like <a href="https://en.wikipedia.org/wiki/SOLID_(object-oriented_design)" target="_blank">SOLID</a> object oriented design principles and <a href="https://en.wikipedia.org/wiki/Domain-driven_design" target="_blank">Domain Driven Design</a>.
      </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="images/pic02.jpg" alt="User Experience" /></div><div class="content">
      <h2>Agile Development</h2>
      <p>
        Agile development lets us respond to change and pivot quickly, over following a plan. I have men
      </p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="images/pic03.jpg" alt="Test Driven Development" /></div><div class="content">
      <h2>Build Quality Through Automated Testing</h2>
      <p>
        Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
      </p>
    </div>
  </section>
</section> -->


<!-- Three -->
<!-- <section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Technical Skills & Expertise</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
			fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
		</header>
		<ul class="features">
			<li class="icon fa-terminal">
				<h3>Languages</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-code">
				<h3>Web Frameworks</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-database">
				<h3>Databases</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-cloud">
				<h3>Virtualization</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-refresh">
				<h3>Continuous Integration</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-users">
				<h3>Agile</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
		</ul>
	</div>
</section> -->

<section id="three" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Recent Blog Posts</h2>
			<!-- <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
			fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p> -->
		</header>
		<ul class="recent-posts">
      {% for post in site.posts limit: 3 %}
        <li>
          <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
          <p>{{ post.excerpt }}</p>
        </li>
      {% endfor %}
		</ul>
	</div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2>Want to Chat?</h2>
      <p>Interested in learning more about me or about how I can help you and your organization on your next project?</p>
    </header>
    <ul class="actions vertical">
      <!-- <li><a href="/contact" class="button fit special">Let's Chat</a></li> -->
      <li><a href="/DerekHubbard-Resume.pdf" target="_blank" class="button fit special">Get My Resume</a></li>
    </ul>
  </div>
</section>
